# External Lab

# Part-1

## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

In [18]:
import pandas as pd
import numpy as np
import os

iris = pd.read_csv('iris.csv')

### Find out the datatypes of each and every column

In [19]:
import numpy as np
import pandas as pd

iris = pd.read_csv('iris.csv')
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
Sepal Length (in cm)    150 non-null float64
Sepal Width in (cm)     150 non-null float64
Petal length (in cm)    150 non-null float64
Petal width (in cm)     150 non-null float64
Class                   150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

### Print top 10 & bottom 10 samples from the dataframe

In [22]:
import numpy as np
import pandas as pd

iris = pd.read_csv('iris.csv')
print(iris.head(10))
print(iris.tail())

   Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)  \
0                   5.1                  3.5                   1.4
1                   4.9                  3.0                   1.4
2                   4.7                  3.2                   1.3
3                   4.6                  3.1                   1.5
4                   5.0                  3.6                   1.4
5                   5.4                  3.9                   1.7
6                   4.6                  3.4                   1.4
7                   5.0                  3.4                   1.5
8                   4.4                  2.9                   1.4
9                   4.9                  3.1                   1.5

   Petal width (in cm)        Class
0                  0.2  Iris-setosa
1                  0.2  Iris-setosa
2                  0.2  Iris-setosa
3                  0.2  Iris-setosa
4                  0.2  Iris-setosa
5                  0.4  Iris-setosa
6                  0.3  Iris-setosa
7                  0.2  Iris-setosa
8                  0.2  Iris-setosa
9                  0.1  Iris-setosa
     Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)  \
145                   6.7                  3.0                   5.2
146                   6.3                  2.5                   5.0
147                   6.5                  3.0                   5.2
148                   6.2                  3.4                   5.4
149                   5.9                  3.0                   5.1

     Petal width (in cm)           Class
145                  2.3  Iris-virginica
146                  1.9  Iris-virginica
147                  2.0  Iris-virginica
148                  2.3  Iris-virginica
149                  1.8  Iris-virginica

### Find the shape of the dataset

In [20]:
import numpy as np
import pandas as pd

iris = pd.read_csv('iris.csv')
print(iris.shape)

(150, 5)

### Set the index of the dataframe to be the first column

In [28]:
import numpy as np
import pandas as pd

iris = pd.read_csv('iris.csv')

iris.iloc[0:, 0:1]

     Sepal Length (in cm)
0                     5.1
1                     4.9
2                     4.7
3                     4.6
4                     5.0
5                     5.4
6                     4.6
7                     5.0
8                     4.4
9                     4.9
10                    5.4
11                    4.8
12                    4.8
13                    4.3
14                    5.8
15                    5.7
16                    5.4
17                    5.1
18                    5.7
19                    5.1
20                    5.4
21                    5.1
22                    4.6
23                    5.1
24                    4.8
25                    5.0
26                    5.0
27                    5.2
28                    5.2
29                    4.7
..                    ...
120                   6.9
121                   5.6
122                   7.7
123                   6.3
124                   6.7
125                   7.2
126                   6.2
127                   6.1
128                   6.4
129                   7.2
130                   7.4
131                   7.9
132                   6.4
133                   6.3
134                   6.1
135                   7.7
136                   6.3
137                   6.4
138                   6.0
139                   6.9
140                   6.7
141                   6.9
142                   5.8
143                   6.8
144                   6.7
145                   6.7
146                   6.3
147                   6.5
148                   6.2
149                   5.9

[150 rows x 1 columns]

### Use iloc function to print all the rows of the 3rd column

In [29]:
import numpy as np
import pandas as pd

iris = pd.read_csv('iris.csv')

iris.iloc[0:, 2:3]

     Petal length (in cm)
0                     1.4
1                     1.4
2                     1.3
3                     1.5
4                     1.4
5                     1.7
6                     1.4
7                     1.5
8                     1.4
9                     1.5
10                    1.5
11                    1.6
12                    1.4
13                    1.1
14                    1.2
15                    1.5
16                    1.3
17                    1.4
18                    1.7
19                    1.5
20                    1.7
21                    1.5
22                    1.0
23                    1.7
24                    1.9
25                    1.6
26                    1.6
27                    1.5
28                    1.4
29                    1.6
..                    ...
120                   5.7
121                   4.9
122                   6.7
123                   4.9
124                   5.7
125                   6.0
126                   4.8
127                   4.9
128                   5.6
129                   5.8
130                   6.1
131                   6.4
132                   5.6
133                   5.1
134                   5.6
135                   6.1
136                   5.6
137                   5.5
138                   4.8
139                   5.4
140                   5.6
141                   5.1
142                   5.1
143                   5.9
144                   5.7
145                   5.2
146                   5.0
147                   5.2
148                   5.4
149                   5.1

[150 rows x 1 columns]

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

In [30]:
import numpy as np
import pandas as pd

iris = pd.read_csv('iris.csv')

iris.iloc[0:11, 0:2]

    Sepal Length (in cm)  Sepal Width in (cm)
0                    5.1                  3.5
1                    4.9                  3.0
2                    4.7                  3.2
3                    4.6                  3.1
4                    5.0                  3.6
5                    5.4                  3.9
6                    4.6                  3.4
7                    5.0                  3.4
8                    4.4                  2.9
9                    4.9                  3.1
10                   5.4                  3.7

### Using Logical statements for indexing
    Print all the columns of row which has class name "Iris-setosa"

In [63]:
import numpy as np
import pandas as pd

iris = pd.read_csv('iris.csv')


iris.iloc[0:50, 4:5]

          Class
0   Iris-setosa
1   Iris-setosa
2   Iris-setosa
3   Iris-setosa
4   Iris-setosa
5   Iris-setosa
6   Iris-setosa
7   Iris-setosa
8   Iris-setosa
9   Iris-setosa
10  Iris-setosa
11  Iris-setosa
12  Iris-setosa
13  Iris-setosa
14  Iris-setosa
15  Iris-setosa
16  Iris-setosa
17  Iris-setosa
18  Iris-setosa
19  Iris-setosa
20  Iris-setosa
21  Iris-setosa
22  Iris-setosa
23  Iris-setosa
24  Iris-setosa
25  Iris-setosa
26  Iris-setosa
27  Iris-setosa
28  Iris-setosa
29  Iris-setosa
30  Iris-setosa
31  Iris-setosa
32  Iris-setosa
33  Iris-setosa
34  Iris-setosa
35  Iris-setosa
36  Iris-setosa
37  Iris-setosa
38  Iris-setosa
39  Iris-setosa
40  Iris-setosa
41  Iris-setosa
42  Iris-setosa
43  Iris-setosa
44  Iris-setosa
45  Iris-setosa
46  Iris-setosa
47  Iris-setosa
48  Iris-setosa
49  Iris-setosa

### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

In [80]:
import numpy as np
import pandas as pd

iris = pd.read_csv('iris.csv')

#a=(iris.iloc[0:* 0:1])*(iris.iloc[0:, 0:2)
                                  
#iris['SepalExtra'] = iris.Sepal Length (in cm)*iris.Sepal Width in (cm)
#print(iris['SepalExtra'])

### Find out the mean and variance for each column but for class column

In [79]:
import numpy as np
import pandas as pd

iris = pd.read_csv('iris.csv')

print(iris.mean())

print(iris.var())

Sepal Length (in cm)    5.843333
Sepal Width in (cm)     3.054000
Petal length (in cm)    3.758667
Petal width (in cm)     1.198667
dtype: float64
Sepal Length (in cm)    0.685694
Sepal Width in (cm)     0.188004
Petal length (in cm)    3.113179
Petal width (in cm)     0.582414
dtype: float64

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

In [88]:
import numpy as np
import pandas as pd

iris = pd.read_csv('iris.csv')
iris.iloc[0:,0:1].max()-iris.iloc[0:,0:1].min()

Sepal Length (in cm)    3.6
dtype: float64

### Sort the entire dataset according to the column Petal width

In [93]:
import numpy as np
import pandas as pd

iris = pd.read_csv('iris.csv')
#iris.iloc[0:,3:4].sort()

iris.sort_values(by='Petal width (in cm)', ascending=False)

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
100,6.3,3.3,6.0,2.5,Iris-virginica
109,7.2,3.6,6.1,2.5,Iris-virginica
144,6.7,3.3,5.7,2.5,Iris-virginica
114,5.8,2.8,5.1,2.4,Iris-virginica
140,6.7,3.1,5.6,2.4,Iris-virginica
136,6.3,3.4,5.6,2.4,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
115,6.4,3.2,5.3,2.3,Iris-virginica
145,6.7,3.0,5.2,2.3,Iris-virginica
143,6.8,3.2,5.9,2.3,Iris-virginica
141,6.9,3.1,5.1,2.3,Iris-virginica
120,6.9,3.2,5.7,2.3,Iris-virginica
118,7.7,2.6,6.9,2.3,Iris-virginica
135,7.7,3.0,6.1,2.3,Iris-virginica
104,6.5,3.0,5.8,2.2,Iris-virginica
132,6.4,2.8,5.6,2.2,Iris-virginica
117,7.7,3.8,6.7,2.2,Iris-virginica
102,7.1,3.0,5.9,2.1,Iris-virginica
124,6.7,3.3,5.7,2.1,Iris-virginica
112,6.8,3.0,5.5,2.1,Iris-virginica
139,6.9,3.1,5.4,2.1,Iris-virginica
128,6.4,2.8,5.6,2.1,Iris-virginica
105,7.6,3.0,6.6,2.1,Iris-virginica
121,5.6,2.8,4.9,2.0,Iris-virginica
110,6.5,3.2,5.1,2.0,Iris-virginica
122,7.7,2.8,6.7,2.0,Iris-virginica
131,7.9,3.8,6.4,2.0,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
113,5.7,2.5,5.0,2.0,Iris-virginica
130,7.4,2.8,6.1,1.9,Iris-virginica
...,...,...,...,...,...
14,5.8,4.0,1.2,0.2,Iris-setosa
11,4.8,3.4,1.6,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
42,4.4,3.2,1.3,0.2,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
49,5.0,3.3,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
35,5.0,3.2,1.2,0.2,Iris-setosa
36,5.5,3.5,1.3,0.2,Iris-setosa
20,5.4,3.4,1.7,0.2,Iris-setosa
27,5.2,3.5,1.5,0.2,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
30,4.8,3.1,1.6,0.2,Iris-setosa
29,4.7,3.2,1.6,0.2,Iris-setosa
28,5.2,3.4,1.4,0.2,Iris-setosa
22,4.6,3.6,1.0,0.2,Iris-setosa
0,5.1,3.5,1.4,0.2,Iris-setosa
38,4.4,3.0,1.3,0.2,Iris-setosa
25,5.0,3.0,1.6,0.2,Iris-setosa
24,4.8,3.4,1.9,0.2,Iris-setosa
39,5.1,3.4,1.5,0.2,Iris-setosa
12,4.8,3.0,1.4,0.1,Iris-setosa
13,4.3,3.0,1.1,0.1,Iris-setosa
37,4.9,3.1,1.5,0.1,Iris-setosa
32,5.2,4.1,1.5,0.1,Iris-setosa
34,4.9,3.1,1.5,0.1,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa

### Remove the new column "SepalExtra" from the dataframe

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"

In [105]:
import numpy as np
import pandas as pd

iris = pd.read_csv('iris.csv')


IrisSubset = iris.iloc[0:11, 0:3]

print (IrisSubset)

    Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)
0                    5.1                  3.5                   1.4
1                    4.9                  3.0                   1.4
2                    4.7                  3.2                   1.3
3                    4.6                  3.1                   1.5
4                    5.0                  3.6                   1.4
5                    5.4                  3.9                   1.7
6                    4.6                  3.4                   1.4
7                    5.0                  3.4                   1.5
8                    4.4                  2.9                   1.4
9                    4.9                  3.1                   1.5
10                   5.4                  3.7                   1.5

# Part-2

## The dataset HR contains information collected from the survey floated by a HR within the company.


As a part of this lab, you are expected to answer the below questions

### Import numpy and Pandas

In [106]:
import numpy as np
import pandas as pd

### Import the dataset (Note: The dataset is in .txt format) - Make sure to use delimiters

In [118]:
import numpy as np
import pandas as pd

HR = pd.read_csv('HR_external.txt',delimiter=',')

### Print the no of rows and columns in the dataset

In [120]:
import numpy as np
import pandas as pd

HR = pd.read_csv('HR_external.txt',delimiter=',')
#HR.iloc[0]
print (HR)

     Individual \tAttrition\tAge\tBusinessTravel\tDailyRate\tDepartment\tDistanceFromHome\tEducation\tEducationField\tEmployeeCount\tEmployeeNumber\tEnvironmentSatisfaction\tGender\tHourlyRate\tJobInvolvement\tJobLevel\tJobRole\tJobSatisfaction\tMaritalStatus\tMonthlyIncome\tMonthlyRate\tNumCompaniesWorked\tOverTime\tPercentSalaryHike\tPerformanceRating\tRelationshipSatisfaction\tStandardHours\tStockOptionLevel\tTotalWorkingYears\tTrainingTimesLastYear\tWorkLifeBalance\tYearsAtCompany\tYearsInCurrentRole\tYearsSinceLastPromotion\tYearsWithCurrManager
0     Ind1\tYes\t41\t1\t1102\t1\t1\t2\t1\t1\t1\t2\t2...
1     Ind2\tNo\t49\t2\t279\t2\t8\t1\t1\t1\t2\t3\t1\t...
2     Ind3\tYes\t37\t1\t1373\t2\t2\t2\t6\t1\t4\t4\t1...
3     Ind4\tNo\t33\t2\t1392\t2\t3\t4\t1\t1\t5\t4\t2\...
4     Ind5\tNo\t27\t1\t591\t2\t2\t1\t2\t1\t7\t1\t1\t...
5     Ind6\tNo\t32\t2\t1005\t2\t2\t2\t1\t1\t8\t4\t1\...
6     Ind7\tNo\t59\t1\t1324\t2\t3\t3\t2\t1\t10\t3\t2...
7     Ind8\tNo\t30\t1\t1358\t2\t24\t1\t1\t1\t11\t4\t...
8     Ind9\tNo\t38\t2\t216\t2\t23\t3\t1\t1\t12\t4\t1...
9     Ind10\tNo\t36\t1\t1299\t2\t27\t3\t2\t1\t13\t3\...
10    Ind11\tNo\t35\t1\t809\t2\t16\t3\t2\t1\t14\t1\t...
11    Ind12\tNo\t29\t1\t153\t2\t15\t2\t1\t1\t15\t4\t...
12    Ind13\tNo\t31\t1\t670\t2\t26\t1\t1\t1\t16\t1\t...
13    Ind14\tNo\t34\t1\t1346\t2\t19\t2\t2\t1\t18\t2\...
14    Ind15\tYes\t28\t1\t103\t2\t24\t3\t1\t1\t19\t3\...
15    Ind16\tNo\t29\t1\t1389\t2\t21\t4\t1\t1\t20\t2\...
16    Ind17\tNo\t32\t1\t334\t2\t5\t2\t1\t1\t21\t1\t1...
17    Ind18\tNo\t22\t3\t1123\t2\t16\t2\t2\t1\t22\t4\...
18    Ind19\tNo\t53\t1\t1219\t1\t2\t4\t1\t1\t23\t1\t...
19    Ind20\tNo\t38\t1\t371\t2\t2\t3\t1\t1\t24\t4\t1...
20    Ind21\tNo\t24\t3\t673\t2\t11\t2\t6\t1\t26\t1\t...
21    Ind22\tYes\t36\t1\t1218\t1\t9\t4\t1\t1\t27\t3\...
22    Ind23\tNo\t34\t1\t419\t2\t7\t4\t1\t1\t28\t1\t2...
23    Ind24\tNo\t21\t1\t391\t2\t15\t2\t1\t1\t30\t3\t...
24    Ind25\tYes\t34\t1\t699\t2\t6\t1\t2\t1\t31\t2\t...
25    Ind26\tNo\t53\t1\t1282\t2\t5\t3\t6\t1\t32\t3\t...
26    Ind27\tYes\t32\t2\t1125\t2\t16\t1\t1\t1\t33\t2...
27    Ind28\tNo\t42\t1\t691\t1\t8\t4\t3\t1\t35\t3\t1...
28    Ind29\tNo\t44\t1\t477\t2\t7\t4\t2\t1\t36\t1\t2...
29    Ind30\tNo\t46\t1\t705\t1\t2\t4\t3\t1\t38\t2\t2...
...                                                 ...
1440  Ind1441\tNo\t36\t2\t688\t2\t4\t2\t1\t1\t2025\t...
1441  Ind1442\tNo\t56\t3\t667\t2\t1\t4\t1\t1\t2026\t...
1442  Ind1443\tYes\t29\t1\t1092\t2\t1\t4\t2\t1\t2027...
1443  Ind1444\tNo\t42\t1\t300\t2\t2\t3\t1\t1\t2031\t...
1444  Ind1445\tYes\t56\t1\t310\t2\t7\t2\t4\t1\t2032\...
1445  Ind1446\tNo\t41\t1\t582\t2\t28\t4\t1\t1\t2034\...
1446  Ind1447\tNo\t34\t1\t704\t1\t28\t3\t3\t1\t2035\...
1447  Ind1448\tNo\t36\t3\t301\t1\t15\t4\t3\t1\t2036\...
1448  Ind1449\tNo\t41\t1\t930\t1\t3\t3\t1\t1\t2037\t...
1449  Ind1450\tNo\t32\t1\t529\t2\t2\t3\t4\t1\t2038\t...
1450  Ind1451\tNo\t35\t1\t1146\t3\t26\t4\t1\t1\t2040...
1451  Ind1452\tNo\t38\t1\t345\t1\t10\t2\t1\t1\t2041\...
1452  Ind1453\tYes\t50\t2\t878\t1\t1\t4\t1\t1\t2044\...
1453  Ind1454\tNo\t36\t1\t1120\t1\t11\t4\t3\t1\t2045...
1454  Ind1455\tNo\t45\t1\t374\t1\t20\t3\t1\t1\t2046\...
1455  Ind1456\tNo\t40\t1\t1322\t2\t2\t4\t1\t1\t2048\...
1456  Ind1457\tNo\t35\t2\t1199\t2\t18\t4\t1\t1\t2049...
1457  Ind1458\tNo\t40\t1\t1194\t2\t2\t4\t2\t1\t2051\...
1458  Ind1459\tNo\t35\t1\t287\t2\t1\t4\t1\t1\t2052\t...
1459  Ind1460\tNo\t29\t1\t1378\t2\t13\t2\t6\t1\t2053...
1460  Ind1461\tNo\t29\t1\t468\t2\t28\t4\t2\t1\t2054\...
1461  Ind1462\tYes\t50\t1\t410\t1\t28\t3\t3\t1\t2055...
1462  Ind1463\tNo\t39\t1\t722\t1\t24\t1\t3\t1\t2056\...
1463  Ind1464\tNo\t31\t3\t325\t2\t5\t3\t2\t1\t2057\t...
1464  Ind1465\tNo\t26\t1\t1167\t1\t5\t3\t6\t1\t2060\...
1465  Ind1466\tNo\t36\t2\t884\t2\t23\t2\t2\t1\t2061\...
1466  Ind1467\tNo\t39\t1\t613\t2\t6\t1\t2\t1\t2062\t...
1467  Ind1468\tNo\t27\t1\t155\t2\t4\t3\t1\t1\t2064\t...
1468  Ind1469\tNo\t49\t2\t1023\t1\t2\t3\t2\t1\t2065\...
1469  Ind1470\tNo\t34\t1\t628\t2\t8\t3\t2\t1\t2068\t...

[1470 rows x 1 columns]

In [129]:
import numpy as np
import pandas as pd

HR = pd.read_csv('HR_external.txt',delimiter=',')
HR.describe()

       Individual \tAttrition\tAge\tBusinessTravel\tDailyRate\tDepartment\tDistanceFromHome\tEducation\tEducationField\tEmployeeCount\tEmployeeNumber\tEnvironmentSatisfaction\tGender\tHourlyRate\tJobInvolvement\tJobLevel\tJobRole\tJobSatisfaction\tMaritalStatus\tMonthlyIncome\tMonthlyRate\tNumCompaniesWorked\tOverTime\tPercentSalaryHike\tPerformanceRating\tRelationshipSatisfaction\tStandardHours\tStockOptionLevel\tTotalWorkingYears\tTrainingTimesLastYear\tWorkLifeBalance\tYearsAtCompany\tYearsInCurrentRole\tYearsSinceLastPromotion\tYearsWithCurrManager
count                                                1470
unique                                               1470
top     Ind674\tNo\t33\t1\t1198\t2\t1\t4\t6\t1\t939\t3...
freq                                                    1

### Find out the type of each and every column in the dataset

In [ ]:
import numpy as np
import pandas as pd

HR = pd.read_csv('HR_external.txt',delimiter=',')
HR.info()

### Print out all the rows from 3rd column to 10th columns

### Find out the no of male & female employees in the company

*Hint: Use can use a condition to find out the no of 1s and 0s in gender and sum it*

### Find out the IQR for the column - Age 

*Hint: IQR - Interquartile range = 75th percentile - 25th percentile*

### Find out the mean, median and variance for the column - DailyRate

### Plot the attrition column (Since it is a categorical variable, chose the plot accordingly)

### Plot Total working years using matplotlib plot function