In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame
from pandas import Series

Football_Team = pd.read_csv("Laliga.csv",sep = ',')

#### Self Study : Analysing the data & datatypes.

Football_Team.shape
#Football_Team.head()
#Football_Team.info()
#Football_Team.dtypes
#Football_Team.describe()
#Football_Team.shape
#display(Football_Team)

#### ----------------------------------------------------------------------------------------------------------------

#### Observation : Found first row appears as Unnamed: 0 & so on. Also Let update the dataframe Columns index.

New_Header = Football_Team.iloc[0]
Football_Team.columns = New_Header
Football_Team = Football_Team.drop(Football_Team.index[0])
#display(Football_Team)

#### ----------------------------------------------------------------------------------------------------------------

#### Q1) Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (5 points)

Football_Team = Football_Team.replace('-',0)
print('\n Q1) Football_Team - Replacing dashes with 0 in dataset :\n',Football_Team)
display(Football_Team)

#### ----------------------------------------------------------------------------------------------------------------

#### Q2) Print all the teams which have started playing between 1930-1980. (5 points)

Football_Team.insert(18, "Football_Team_which_have_started_playing_between_1930_to_1980","Any")

Football_Team["Football_Team_which_have_started_playing_between_1930_to_1980"]= Football_Team['Debut'].astype(str).str[:4].astype(str)

Football_Team_which_have_started_playing_between_1930_to_1980 = Football_Team[Football_Team['Football_Team_which_have_started_playing_between_1930_to_1980'].between('1930', '1980')]

print('\n Q2) Football_Team_which_have_started_playing_between_1930_to_1980 are :\n',Football_Team_which_have_started_playing_between_1930_to_1980)

display(Football_Team_which_have_started_playing_between_1930_to_1980)
Football_Team_which_have_started_playing_between_1930_to_1980.shape

#### ----------------------------------------------------------------------------------------------------------------

#### Q3) Print the list of teams which came Top 5 in terms of points (5 points)

#Football_Team.info()
Football_Team = Football_Team.astype({"Points" : int})
#Football_Team.info()


Football_Team_First_Top_Five_Based_On_Points_values = Football_Team.sort_values("Points", axis = 0, ascending=False)
Football_Team_First_Top_Five_Based_On_Points_values = Football_Team_First_Top_Five_Based_On_Points_values.iloc[:5,]
print('\n Q3) Football_Team_First_Top_Five_Based_On_Points_values are :\n',Football_Team_First_Top_Five_Based_On_Points_values)
display(Football_Team_First_Top_Five_Based_On_Points_values)

#### ----------------------------------------------------------------------------------------------------------------

#### Q4) Write a function with name Goal_diff_count which should return all the teams with their 
#### Goal  Differences. Using the same function, find the team which has maximum and minimum 
#### goal  difference. (5 points)  (Goal_diff_count = GoalsFor  GoalsAgainst ).

Football_Team["GoalsFor"] = Football_Team["GoalsFor"].astype(str).astype(int)
Football_Team["GoalsAgainst"] = Football_Team["GoalsAgainst"].astype(str).astype(int)

Football_Team.insert(8,"Goal_diff_count","Any")
Football_Team["Goal_diff_count"] = Football_Team ["GoalsFor"] - Football_Team["GoalsAgainst"]
Football_Team_Goal_diff_count = Football_Team.sort_values("Goal_diff_count", axis = 0, ascending=False)
#Football_Team_Goal_diff_count.info()
print('\n Q4) Football_Team_Goal_diff_count is :\n',Football_Team_Goal_diff_count)
display(Football_Team_Goal_diff_count)

####-----------------------------------------------------------------------------------------------------------------

#### Q5) Create a new column with name Winning Percent and append it to the data set (5 points)
#### Percentage of Winning = (GamesWon / GamesPlayed)*100
#### If there are any numerical error, replace it with 0%
#### Print the top 5 teams which has the highest Winning percentage

Football_Team.insert(4, "Winning Percent","Any")
Football_Team["GamesPlayed"] = Football_Team["GamesPlayed"].astype(str).astype(int)
Football_Team["GamesWon"] = Football_Team["GamesWon"].astype(str).astype(int)
Football_Team['Winning Percent']= (((Football_Team.GamesWon)/(Football_Team.GamesPlayed))*100)
Football_Team.fillna(0)
Top_Winning_Percent_Football_Team = Football_Team.sort_values("Winning Percent", axis = 0, ascending=False)
First_Top_Five_Winning_Percent_Football_Team = Top_Winning_Percent_Football_Team.iloc[:5,]
print('\n Q5) First_Top_Five_Winning_Percent_Football_Team_are  :\n',First_Top_Five_Winning_Percent_Football_Team)
display(First_Top_Five_Winning_Percent_Football_Team)

#### ----------------------------------------------------------------------------------------------------------------

#### Q6) Group teams based on their Best position and print the sum of their points for all positions (5 points)

Football_Team["BestPosition"] = Football_Team["BestPosition"].astype(str).astype(int)
Group_Football_Team_based_on_Best_position_Sum_Of_Points = Football_Team.groupby(["BestPosition"]).sum()
Group_Football_Team_based_on_Best_position_Sum_Of_Points = Group_Football_Team_based_on_Best_position_Sum_Of_Points.iloc[:,0:1]
print ('\n Q6) Group teams based on their Best position & Sum of Points are :\n',Group_Football_Team_based_on_Best_position_Sum_Of_Points)
display(Group_Football_Team_based_on_Best_position_Sum_Of_Points)

#### ----------------------------------------------------------------------------------------------------------------

 Q1) Football_Team - Replacing dashes with 0 in dataset :
 0  Pos                 Team Seasons Points GamesPlayed GamesWon GamesDrawn  \
1    1          Real Madrid      86   4385        2762     1647        552
2    2            Barcelona      86   4262        2762     1581        573
3    3      Atletico Madrid      80   3442        2614     1241        598
4    4             Valencia      82   3386        2664     1187        616
5    5      Athletic Bilbao      86   3368        2762     1209        633
6    6              Sevilla      73   2819        2408      990        531
7    7             Espanyol      82   2792        2626      948        608
8    8        Real Sociedad      70   2573        2302      864        577
9    9             Zaragoza      58   2109        1986      698        522
10  10           Real Betis      51   1884        1728      606        440
11  11  Deportivo La Coruna      45   1814        1530      563        392
12  12           Celta Vigo      51   1789        1698      586        389
13  13           Valladolid      42   1471        1466      463        384
14  14     Racing Santander      44   1416        1428      453        336
15  15       Sporting Gijon      43   1389        1458      471        358
16  16              Osasuna      37   1351        1318      426        327
17  17               Malaga      36   1314        1255      390        330
18  18               Oviedo      38   1174        1192      408        292
19  19             Mallorca      27   1148         988      333        256
20  20           Las Palmas      33   1020        1096      367        242
21  21           Villarreal      17    970         646      266        172
22  22              Granada      23    667         742      218        175
23  23       Rayo Vallecano      17    662         652      189        148
24  24                Elche      21    606         678      203        180
25  25               Getafe      12    553         456      147        112
26  26             Hercules      20    538         628      184        149
27  27             Tenerife      13    510         494      155        128
28  28               Murcia      18    445         586      145        143
29  29               Alaves      12    421         380      125         81
30  30              Levante      11    416         402      113         95
..  ..                  ...     ...    ...         ...      ...        ...
32  32             Sabadell      14    353         426      129         95
33  33                Cadiz      12    343         448      104        127
34  34             Logrones       9    293         346       96         92
35  35            Castellon      11    285         334      103         79
36  36             Albacete       7    277         270       76         76
37  37              Almeria       6    242         228       62         56
38  38              Cordoba       9    230         282       82         63
39  39           Compostela       4    190         160       52         45
40  40           Recreativo       5    188         186       50         46
41  41            Burgos CF       6    168         204       59         50
42  42           Pontevedra       6    150         180       53         44
43  43             Numancia       4    148         152       37         37
44  44                Eibar       3    132         114       35         27
45  45               Arenas       7    107         130       43         21
46  46          Real Burgos       3     96         114       26         44
47  47            Gimnastic       4     91         116       34         16
48  48          Extremadura       2     83          80       20         23
49  49               Merida       2     81          80       19         24
50  50             Alcoyano       4     76         108       30         16
51  51                 Jaen       3     71          90       29         13
52  52           Real Union       4     56          72       21         14
53  53           AD Almeria       2     52          68       17         18
54  54               Europa       3     42          54       18          6
55  55               Lleida       2     40          68       13         14
56  56              Leganes       1     35          38        8         11
57  57                Xerez       1     34          38        8         10
58  58               Condal       1     22          30        7          8
59  59      Atletico Tetuan       1     19          30        7          5
60  60     Cultural Leonesa       1     14          30        5          4
61  61               Girona       1      0           0        0          0

0  GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
1        563     5947         3140       33        23     8      8     3
2        608     5900         3114       25        25    12     12     4
3        775     4534         3309       10         8    16      9     7
4        861     4398         3469        6         6    10     11    10
5        920     4631         3700        8         7    10      5     8
6        887     3680         3373        1         4     4      5    12
7       1070     3609         3889        0         0     4      5     2
8        861     3228         3230        2         3     2      5     4
9        766     2683         2847        0         1     4      5     4
10       682     2159         2492        1         0     2      3     4
11       575     2052         2188        1         5     4      1     0
12       723     2278         2624        0         0     0      2     4
13       619     1767         2180        0         0     0      1     1
14       639     1843         2368        0         1     1      2     0
15       629     1753         2152        0         1     1      2     2
16       565     1500         1834        0         0     0      2     2
17       535     1421         1763        0         0     0      1     0
18       492     1642         1951        0         0     3      2     2
19       399     1182         1371        0         0     2      0     2
20       487     1347         1746        0         1     1      1     1
21       208      892          789        0         1     1      2     3
22       349      819         1157        0         0     0      0     0
23       305      760         1088        0         0     0      0     0
24       295      750         1022        0         0     0      0     1
25       197      520          633        0         0     0      0     0
26       295      716         1050        0         0     0      0     1
27       211      619          744        0         0     0      0     2
28       298      607          992        0         0     0      0     0
29       174      458          623        0         0     0      0     0
30       194      430          632        0         0     0      0     0
..       ...      ...          ...      ...       ...   ...    ...   ...
32       202      492          720        0         0     0      1     1
33       217      393          662        0         0     0      0     0
34       158      291          489        0         0     0      0     0
35       152      419          588        0         0     0      1     2
36       118      320          410        0         0     0      0     0
37       110      244          366        0         0     0      0     0
38       137      285          430        0         0     0      0     1
39        63      199          241        0         0     0      0     0
40        90      202          296        0         0     0      0     0
41        95      216          310        0         0     0      0     0
42        83      165          221        0         0     0      0     0
43        78      155          253        0         0     0      0     0
44        52      139          167        0         0     0      0     0
45        66      227          308        0         0     1      0     3
46        44      101          139        0         0     0      0     0
47        66      181          295        0         0     0      0     0
48        37       62          117        0         0     0      0     0
49        37       70          115        0         0     0      0     0
50        62      145          252        0         0     0      0     0
51        48      121          183        0         0     0      0     0
52        37      153          184        0         0     0      0     0
53        33       71          116        0         0     0      0     0
54        30       97          131        0         0     0      0     0
55        41       70          182        0         0     0      0     0
56        19       36           55        0         0     0      0     0
57        20       38           66        0         0     0      0     0
58        15       37           57        0         0     0      0     0
59        18       51           85        0         0     0      0     0
60        21       34           65        0         0     0      0     0
61         0        0            0        0         0     0      0     0

0  Sixth   T    Debut Since/LastApp BestPosition
1      4  79     1929          1929            1
2      6  83     1929          1929            1
3      6  56     1929       2002-03            1
4      7  50  1931-32       1987-88            1
5     10  49     1929          1929            1
6      6  32  1934-35       2001-02            1
7      5  16     1929       1994-95            3
8      3  19     1929       2010-11            1
9      4  18  1939-40       2012-13            2
10     4  14  1932-33       2015-16            1
11     1  12  1941-42       2014-15            1
12     5  11  1939-40       2012-13            4
13     1   3  1948-49       2013-14            4
14     1   5     1929       2011-12            2
15     1   7  1944-45       2015-16            2
16     2   6  1935-36       2016-17            4
17     1   2  1949-50       2008-09            4
18     4  11  1933-34       2000-01            3
19     1   5  1960-61       2012-13            3
20     1   5  1951-52       2015-16            2
21     2   9  1998-99       2013-14            2
22     2   2  1941-42       2016-17            6
23     0   0  1977-78       2015-16            8
24     1   2  1959-60       2014-15            5
25     1   1  2004-05       2015-16            6
26     4   5  1935-36       2010-11            5
27     0   2  1961-62       2009-10            5
28     0   0  1940-41       2007-08           11
29     1   1  1930-31       2016-17            6
30     1   1  1963-64       2015-16            6
..   ...  ..      ...           ...          ...
32     0   2  1943-44       1987-88            4
33     0   0  1977-78       2005-06           12
34     0   0  1987-88       1996-97            7
35     0   3  1941-42       1990-91            4
36     0   0  1991-92       2004-05            7
37     0   0  2007-08       2014-15            8
38     0   1  1962-63       2014-15            5
39     0   0  1994-95       1997-98           10
40     0   0  1978-79       2008-09            8
41     0   0  1971-72       1979-80           12
42     0   0  1963-64       1969-70            7
43     0   0  1999-00       2008-09           17
44     0   0  2014-15       2014-15           10
45     0   4     1929       1934-35            3
46     0   0  1990-91       1992-93            9
47     0   0  1947-48       2006-07            7
48     0   0  1996-97       1998-99           17
49     0   0  1995-96       1997-98           19
50     0   0  1945-46       1950-51           10
51     0   0  1953-54       1957-58           14
52     1   1     1929       1931-32            6
53     0   0  1979-80       1980-81           10
54     0   0     1929       1930-31            8
55     0   0  1950-51       1993-94           16
56     0   0  2016-17       2016-17           17
57     0   0  2009-10       2009-10           20
58     0   0  1956-57       1956-57           16
59     0   0  1951-52       1951-52           16
60     0   0  1955-56       1955-56           15
61     0   0  2017-18       2017-18            9

[61 rows x 20 columns]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
30,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
61,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

 Q2) Football_Team_which_have_started_playing_between_1930_to_1980 are :
 0  Pos                 Team Seasons Points GamesPlayed GamesWon GamesDrawn  \
4    4             Valencia      82   3386        2664     1187        616
6    6              Sevilla      73   2819        2408      990        531
9    9             Zaragoza      58   2109        1986      698        522
10  10           Real Betis      51   1884        1728      606        440
11  11  Deportivo La Coruna      45   1814        1530      563        392
12  12           Celta Vigo      51   1789        1698      586        389
13  13           Valladolid      42   1471        1466      463        384
15  15       Sporting Gijon      43   1389        1458      471        358
16  16              Osasuna      37   1351        1318      426        327
17  17               Malaga      36   1314        1255      390        330
18  18               Oviedo      38   1174        1192      408        292
19  19             Mallorca      27   1148         988      333        256
20  20           Las Palmas      33   1020        1096      367        242
22  22              Granada      23    667         742      218        175
23  23       Rayo Vallecano      17    662         652      189        148
24  24                Elche      21    606         678      203        180
26  26             Hercules      20    538         628      184        149
27  27             Tenerife      13    510         494      155        128
28  28               Murcia      18    445         586      145        143
29  29               Alaves      12    421         380      125         81
30  30              Levante      11    416         402      113         95
31  31            Salamanca      12    375         423      123        102
32  32             Sabadell      14    353         426      129         95
33  33                Cadiz      12    343         448      104        127
35  35            Castellon      11    285         334      103         79
38  38              Cordoba       9    230         282       82         63
40  40           Recreativo       5    188         186       50         46
41  41            Burgos CF       6    168         204       59         50
42  42           Pontevedra       6    150         180       53         44
47  47            Gimnastic       4     91         116       34         16
50  50             Alcoyano       4     76         108       30         16
51  51                 Jaen       3     71          90       29         13
53  53           AD Almeria       2     52          68       17         18
55  55               Lleida       2     40          68       13         14
58  58               Condal       1     22          30        7          8
59  59      Atletico Tetuan       1     19          30        7          5
60  60     Cultural Leonesa       1     14          30        5          4

0  GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  \
4        861     4398         3469  ...         6    10     11    10     7
6        887     3680         3373  ...         4     4      5    12     6
9        766     2683         2847  ...         1     4      5     4     4
10       682     2159         2492  ...         0     2      3     4     4
11       575     2052         2188  ...         5     4      1     0     1
12       723     2278         2624  ...         0     0      2     4     5
13       619     1767         2180  ...         0     0      1     1     1
15       629     1753         2152  ...         1     1      2     2     1
16       565     1500         1834  ...         0     0      2     2     2
17       535     1421         1763  ...         0     0      1     0     1
18       492     1642         1951  ...         0     3      2     2     4
19       399     1182         1371  ...         0     2      0     2     1
20       487     1347         1746  ...         1     1      1     1     1
22       349      819         1157  ...         0     0      0     0     2
23       305      760         1088  ...         0     0      0     0     0
24       295      750         1022  ...         0     0      0     1     1
26       295      716         1050  ...         0     0      0     1     4
27       211      619          744  ...         0     0      0     2     0
28       298      607          992  ...         0     0      0     0     0
29       174      458          623  ...         0     0      0     0     1
30       194      430          632  ...         0     0      0     0     1
31       198      422          581  ...         0     0      0     0     0
32       202      492          720  ...         0     0      1     1     0
33       217      393          662  ...         0     0      0     0     0
35       152      419          588  ...         0     0      1     2     0
38       137      285          430  ...         0     0      0     1     0
40        90      202          296  ...         0     0      0     0     0
41        95      216          310  ...         0     0      0     0     0
42        83      165          221  ...         0     0      0     0     0
47        66      181          295  ...         0     0      0     0     0
50        62      145          252  ...         0     0      0     0     0
51        48      121          183  ...         0     0      0     0     0
53        33       71          116  ...         0     0      0     0     0
55        41       70          182  ...         0     0      0     0     0
58        15       37           57  ...         0     0      0     0     0
59        18       51           85  ...         0     0      0     0     0
60        21       34           65  ...         0     0      0     0     0

0    T    Debut Football_Team_which_have_started_playing_between_1930_to_1980  \
4   50  1931-32                                               1931
6   32  1934-35                                               1934
9   18  1939-40                                               1939
10  14  1932-33                                               1932
11  12  1941-42                                               1941
12  11  1939-40                                               1939
13   3  1948-49                                               1948
15   7  1944-45                                               1944
16   6  1935-36                                               1935
17   2  1949-50                                               1949
18  11  1933-34                                               1933
19   5  1960-61                                               1960
20   5  1951-52                                               1951
22   2  1941-42                                               1941
23   0  1977-78                                               1977
24   2  1959-60                                               1959
26   5  1935-36                                               1935
27   2  1961-62                                               1961
28   0  1940-41                                               1940
29   1  1930-31                                               1930
30   1  1963-64                                               1963
31   0  1974-75                                               1974
32   2  1943-44                                               1943
33   0  1977-78                                               1977
35   3  1941-42                                               1941
38   1  1962-63                                               1962
40   0  1978-79                                               1978
41   0  1971-72                                               1971
42   0  1963-64                                               1963
47   0  1947-48                                               1947
50   0  1945-46                                               1945
51   0  1953-54                                               1953
53   0  1979-80                                               1979
55   0  1950-51                                               1950
58   0  1956-57                                               1956
59   0  1951-52                                               1951
60   0  1955-56                                               1955

0  Since/LastApp BestPosition
4        1987-88            1
6        2001-02            1
9        2012-13            2
10       2015-16            1
11       2014-15            1
12       2012-13            4
13       2013-14            4
15       2015-16            2
16       2016-17            4
17       2008-09            4
18       2000-01            3
19       2012-13            3
20       2015-16            2
22       2016-17            6
23       2015-16            8
24       2014-15            5
26       2010-11            5
27       2009-10            5
28       2007-08           11
29       2016-17            6
30       2015-16            6
31       1998-99            7
32       1987-88            4
33       2005-06           12
35       1990-91            4
38       2014-15            5
40       2008-09            8
41       1979-80           12
42       1969-70            7
47       2006-07            7
50       1950-51           10
51       1957-58           14
53       1980-81           10
55       1993-94           16
58       1956-57           16
59       1951-52           16
60       1955-56           15

[37 rows x 21 columns]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Football_Team_which_have_started_playing_between_1930_to_1980,Since/LastApp,BestPosition
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1931,1987-88,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,1934-35,1934,2001-02,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939-40,1939,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,1932-33,1932,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,1941-42,1941,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939-40,1939,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,1948-49,1948,2013-14,4
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,1944-45,1944,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,1935-36,1935,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,1949-50,1949,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,1933-34,1933,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,1960-61,1960,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,1951-52,1951,2015-16,2
22,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941-42,1941,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977-78,1977,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959-60,1959,2014-15,5
26,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,1935-36,1935,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,1961-62,1961,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940-41,1940,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,0,1,1,1930-31,1930,2016-17,6
30,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,1963-64,1963,2015-16,6
31,31,Salamanca,12,375,423,123,102,198,422,581,...,0,0,0,0,0,0,1974-75,1974,1998-99,7
32,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1943-44,1943,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977-78,1977,2005-06,12
35,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1941-42,1941,1990-91,4
38,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,1962-63,1962,2014-15,5
40,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,1978-79,1978,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971-72,1971,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963-64,1963,1969-70,7
47,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,1947-48,1947,2006-07,7
50,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945-46,1945,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953-54,1953,1957-58,14
53,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979-80,1979,1980-81,10
55,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950-51,1950,1993-94,16
58,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956-57,1956,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951-52,1951,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955-56,1955,1955-56,15

 Q3) Football_Team_First_Top_Five_Based_On_Points_values are :
 0 Pos             Team Seasons  Points GamesPlayed GamesWon GamesDrawn  \
1   1      Real Madrid      86    4385        2762     1647        552
2   2        Barcelona      86    4262        2762     1581        573
3   3  Atletico Madrid      80    3442        2614     1241        598
4   4         Valencia      82    3386        2664     1187        616
5   5  Athletic Bilbao      86    3368        2762     1209        633

0 GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth   T  \
1       563     5947         3140  ...        23     8      8     3     4  79
2       608     5900         3114  ...        25    12     12     4     6  83
3       775     4534         3309  ...         8    16      9     7     6  56
4       861     4398         3469  ...         6    10     11    10     7  50
5       920     4631         3700  ...         7    10      5     8    10  49

0    Debut Football_Team_which_have_started_playing_between_1930_to_1980  \
1     1929                                               1929
2     1929                                               1929
3     1929                                               1929
4  1931-32                                               1931
5     1929                                               1929

0 Since/LastApp BestPosition
1          1929            1
2          1929            1
3       2002-03            1
4       1987-88            1
5          1929            1

[5 rows x 21 columns]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Football_Team_which_have_started_playing_between_1930_to_1980,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1931,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1929,1

 Q4) Football_Team_Goal_diff_count is :
 0  Pos                 Team Seasons  Points GamesPlayed GamesWon GamesDrawn  \
1    1          Real Madrid      86    4385        2762     1647        552
2    2            Barcelona      86    4262        2762     1581        573
3    3      Atletico Madrid      80    3442        2614     1241        598
5    5      Athletic Bilbao      86    3368        2762     1209        633
4    4             Valencia      82    3386        2664     1187        616
6    6              Sevilla      73    2819        2408      990        531
21  21           Villarreal      17     970         646      266        172
61  61               Girona       1       0           0        0          0
8    8        Real Sociedad      70    2573        2302      864        577
56  56              Leganes       1      35          38        8         11
58  58               Condal       1      22          30        7          8
44  44                Eibar       3     132         114       35         27
57  57                Xerez       1      34          38        8         10
60  60     Cultural Leonesa       1      14          30        5          4
52  52           Real Union       4      56          72       21         14
54  54               Europa       3      42          54       18          6
59  59      Atletico Tetuan       1      19          30        7          5
46  46          Real Burgos       3      96         114       26         44
39  39           Compostela       4     190         160       52         45
53  53           AD Almeria       2      52          68       17         18
49  49               Merida       2      81          80       19         24
48  48          Extremadura       2      83          80       20         23
42  42           Pontevedra       6     150         180       53         44
51  51                 Jaen       3      71          90       29         13
45  45               Arenas       7     107         130       43         21
36  36             Albacete       7     277         270       76         76
41  41            Burgos CF       6     168         204       59         50
40  40           Recreativo       5     188         186       50         46
43  43             Numancia       4     148         152       37         37
50  50             Alcoyano       4      76         108       30         16
..  ..                  ...     ...     ...         ...      ...        ...
25  25               Getafe      12     553         456      147        112
47  47            Gimnastic       4      91         116       34         16
37  37              Almeria       6     242         228       62         56
27  27             Tenerife      13     510         494      155        128
11  11  Deportivo La Coruna      45    1814        1530      563        392
38  38              Cordoba       9     230         282       82         63
31  31            Salamanca      12     375         423      123        102
9    9             Zaragoza      58    2109        1986      698        522
29  29               Alaves      12     421         380      125         81
35  35            Castellon      11     285         334      103         79
19  19             Mallorca      27    1148         988      333        256
34  34             Logrones       9     293         346       96         92
30  30              Levante      11     416         402      113         95
32  32             Sabadell      14     353         426      129         95
33  33                Cadiz      12     343         448      104        127
24  24                Elche      21     606         678      203        180
7    7             Espanyol      82    2792        2626      948        608
18  18               Oviedo      38    1174        1192      408        292
23  23       Rayo Vallecano      17     662         652      189        148
10  10           Real Betis      51    1884        1728      606        440
26  26             Hercules      20     538         628      184        149
16  16              Osasuna      37    1351        1318      426        327
22  22              Granada      23     667         742      218        175
17  17               Malaga      36    1314        1255      390        330
12  12           Celta Vigo      51    1789        1698      586        389
28  28               Murcia      18     445         586      145        143
20  20           Las Palmas      33    1020        1096      367        242
15  15       Sporting Gijon      43    1389        1458      471        358
13  13           Valladolid      42    1471        1466      463        384
14  14     Racing Santander      44    1416        1428      453        336

0  GamesLost  Goal_diff_count  GoalsFor  ...  Runner-up Third Fourth Fifth  \
1        563             2807      5947  ...         23     8      8     3
2        608             2786      5900  ...         25    12     12     4
3        775             1225      4534  ...          8    16      9     7
5        920              931      4631  ...          7    10      5     8
4        861              929      4398  ...          6    10     11    10
6        887              307      3680  ...          4     4      5    12
21       208              103       892  ...          1     1      2     3
61         0                0         0  ...          0     0      0     0
8        861               -2      3228  ...          3     2      5     4
56        19              -19        36  ...          0     0      0     0
58        15              -20        37  ...          0     0      0     0
44        52              -28       139  ...          0     0      0     0
57        20              -28        38  ...          0     0      0     0
60        21              -31        34  ...          0     0      0     0
52        37              -31       153  ...          0     0      0     0
54        30              -34        97  ...          0     0      0     0
59        18              -34        51  ...          0     0      0     0
46        44              -38       101  ...          0     0      0     0
39        63              -42       199  ...          0     0      0     0
53        33              -45        71  ...          0     0      0     0
49        37              -45        70  ...          0     0      0     0
48        37              -55        62  ...          0     0      0     0
42        83              -56       165  ...          0     0      0     0
51        48              -62       121  ...          0     0      0     0
45        66              -81       227  ...          0     1      0     3
36       118              -90       320  ...          0     0      0     0
41        95              -94       216  ...          0     0      0     0
40        90              -94       202  ...          0     0      0     0
43        78              -98       155  ...          0     0      0     0
50        62             -107       145  ...          0     0      0     0
..       ...              ...       ...  ...        ...   ...    ...   ...
25       197             -113       520  ...          0     0      0     0
47        66             -114       181  ...          0     0      0     0
37       110             -122       244  ...          0     0      0     0
27       211             -125       619  ...          0     0      0     2
11       575             -136      2052  ...          5     4      1     0
38       137             -145       285  ...          0     0      0     1
31       198             -159       422  ...          0     0      0     0
9        766             -164      2683  ...          1     4      5     4
29       174             -165       458  ...          0     0      0     0
35       152             -169       419  ...          0     0      1     2
19       399             -189      1182  ...          0     2      0     2
34       158             -198       291  ...          0     0      0     0
30       194             -202       430  ...          0     0      0     0
32       202             -228       492  ...          0     0      1     1
33       217             -269       393  ...          0     0      0     0
24       295             -272       750  ...          0     0      0     1
7       1070             -280      3609  ...          0     4      5     2
18       492             -309      1642  ...          0     3      2     2
23       305             -328       760  ...          0     0      0     0
10       682             -333      2159  ...          0     2      3     4
26       295             -334       716  ...          0     0      0     1
16       565             -334      1500  ...          0     0      2     2
22       349             -338       819  ...          0     0      0     0
17       535             -342      1421  ...          0     0      1     0
12       723             -346      2278  ...          0     0      2     4
28       298             -385       607  ...          0     0      0     0
20       487             -399      1347  ...          1     1      1     1
15       629             -399      1753  ...          1     1      2     2
13       619             -413      1767  ...          0     0      1     1
14       639             -525      1843  ...          1     1      2     0

0  Sixth   T    Debut  \
1      4  79     1929
2      6  83     1929
3      6  56     1929
5     10  49     1929
4      7  50  1931-32
6      6  32  1934-35
21     2   9  1998-99
61     0   0  2017-18
8      3  19     1929
56     0   0  2016-17
58     0   0  1956-57
44     0   0  2014-15
57     0   0  2009-10
60     0   0  1955-56
52     1   1     1929
54     0   0     1929
59     0   0  1951-52
46     0   0  1990-91
39     0   0  1994-95
53     0   0  1979-80
49     0   0  1995-96
48     0   0  1996-97
42     0   0  1963-64
51     0   0  1953-54
45     0   4     1929
36     0   0  1991-92
41     0   0  1971-72
40     0   0  1978-79
43     0   0  1999-00
50     0   0  1945-46
..   ...  ..      ...
25     1   1  2004-05
47     0   0  1947-48
37     0   0  2007-08
27     0   2  1961-62
11     1  12  1941-42
38     0   1  1962-63
31     0   0  1974-75
9      4  18  1939-40
29     1   1  1930-31
35     0   3  1941-42
19     1   5  1960-61
34     0   0  1987-88
30     1   1  1963-64
32     0   2  1943-44
33     0   0  1977-78
24     1   2  1959-60
7      5  16     1929
18     4  11  1933-34
23     0   0  1977-78
10     4  14  1932-33
26     4   5  1935-36
16     2   6  1935-36
22     2   2  1941-42
17     1   2  1949-50
12     5  11  1939-40
28     0   0  1940-41
20     1   5  1951-52
15     1   7  1944-45
13     1   3  1948-49
14     1   5     1929

0  Football_Team_which_have_started_playing_between_1930_to_1980  \
1                                                1929
2                                                1929
3                                                1929
5                                                1929
4                                                1931
6                                                1934
21                                               1998
61                                               2017
8                                                1929
56                                               2016
58                                               1956
44                                               2014
57                                               2009
60                                               1955
52                                               1929
54                                               1929
59                                               1951
46                                               1990
39                                               1994
53                                               1979
49                                               1995
48                                               1996
42                                               1963
51                                               1953
45                                               1929
36                                               1991
41                                               1971
40                                               1978
43                                               1999
50                                               1945
..                                                ...
25                                               2004
47                                               1947
37                                               2007
27                                               1961
11                                               1941
38                                               1962
31                                               1974
9                                                1939
29                                               1930
35                                               1941
19                                               1960
34                                               1987
30                                               1963
32                                               1943
33                                               1977
24                                               1959
7                                                1929
18                                               1933
23                                               1977
10                                               1932
26                                               1935
16                                               1935
22                                               1941
17                                               1949
12                                               1939
28                                               1940
20                                               1951
15                                               1944
13                                               1948
14                                               1929

0  Since/LastApp BestPosition
1           1929            1
2           1929            1
3        2002-03            1
5           1929            1
4        1987-88            1
6        2001-02            1
21       2013-14            2
61       2017-18            9
8        2010-11            1
56       2016-17           17
58       1956-57           16
44       2014-15           10
57       2009-10           20
60       1955-56           15
52       1931-32            6
54       1930-31            8
59       1951-52           16
46       1992-93            9
39       1997-98           10
53       1980-81           10
49       1997-98           19
48       1998-99           17
42       1969-70            7
51       1957-58           14
45       1934-35            3
36       2004-05            7
41       1979-80           12
40       2008-09            8
43       2008-09           17
50       1950-51           10
..           ...          ...
25       2015-16            6
47       2006-07            7
37       2014-15            8
27       2009-10            5
11       2014-15            1
38       2014-15            5
31       1998-99            7
9        2012-13            2
29       2016-17            6
35       1990-91            4
19       2012-13            3
34       1996-97            7
30       2015-16            6
32       1987-88            4
33       2005-06           12
24       2014-15            5
7        1994-95            3
18       2000-01            3
23       2015-16            8
10       2015-16            1
26       2010-11            5
16       2016-17            4
22       2016-17            6
17       2008-09            4
12       2012-13            4
28       2007-08           11
20       2015-16            2
15       2015-16            2
13       2013-14            4
14       2011-12            2

[61 rows x 22 columns]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,Goal_diff_count,GoalsFor,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Football_Team_which_have_started_playing_between_1930_to_1980,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,2807,5947,...,23,8,8,3,4,79,1929,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,2786,5900,...,25,12,12,4,6,83,1929,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,1225,4534,...,8,16,9,7,6,56,1929,1929,2002-03,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,931,4631,...,7,10,5,8,10,49,1929,1929,1929,1
4,4,Valencia,82,3386,2664,1187,616,861,929,4398,...,6,10,11,10,7,50,1931-32,1931,1987-88,1
6,6,Sevilla,73,2819,2408,990,531,887,307,3680,...,4,4,5,12,6,32,1934-35,1934,2001-02,1
21,21,Villarreal,17,970,646,266,172,208,103,892,...,1,1,2,3,2,9,1998-99,1998,2013-14,2
61,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017-18,2017,2017-18,9
8,8,Real Sociedad,70,2573,2302,864,577,861,-2,3228,...,3,2,5,4,3,19,1929,1929,2010-11,1
56,56,Leganes,1,35,38,8,11,19,-19,36,...,0,0,0,0,0,0,2016-17,2016,2016-17,17
58,58,Condal,1,22,30,7,8,15,-20,37,...,0,0,0,0,0,0,1956-57,1956,1956-57,16
44,44,Eibar,3,132,114,35,27,52,-28,139,...,0,0,0,0,0,0,2014-15,2014,2014-15,10
57,57,Xerez,1,34,38,8,10,20,-28,38,...,0,0,0,0,0,0,2009-10,2009,2009-10,20
60,60,Cultural Leonesa,1,14,30,5,4,21,-31,34,...,0,0,0,0,0,0,1955-56,1955,1955-56,15
52,52,Real Union,4,56,72,21,14,37,-31,153,...,0,0,0,0,1,1,1929,1929,1931-32,6
54,54,Europa,3,42,54,18,6,30,-34,97,...,0,0,0,0,0,0,1929,1929,1930-31,8
59,59,Atletico Tetuan,1,19,30,7,5,18,-34,51,...,0,0,0,0,0,0,1951-52,1951,1951-52,16
46,46,Real Burgos,3,96,114,26,44,44,-38,101,...,0,0,0,0,0,0,1990-91,1990,1992-93,9
39,39,Compostela,4,190,160,52,45,63,-42,199,...,0,0,0,0,0,0,1994-95,1994,1997-98,10
53,53,AD Almeria,2,52,68,17,18,33,-45,71,...,0,0,0,0,0,0,1979-80,1979,1980-81,10
49,49,Merida,2,81,80,19,24,37,-45,70,...,0,0,0,0,0,0,1995-96,1995,1997-98,19
48,48,Extremadura,2,83,80,20,23,37,-55,62,...,0,0,0,0,0,0,1996-97,1996,1998-99,17
42,42,Pontevedra,6,150,180,53,44,83,-56,165,...,0,0,0,0,0,0,1963-64,1963,1969-70,7
51,51,Jaen,3,71,90,29,13,48,-62,121,...,0,0,0,0,0,0,1953-54,1953,1957-58,14
45,45,Arenas,7,107,130,43,21,66,-81,227,...,0,1,0,3,0,4,1929,1929,1934-35,3
36,36,Albacete,7,277,270,76,76,118,-90,320,...,0,0,0,0,0,0,1991-92,1991,2004-05,7
41,41,Burgos CF,6,168,204,59,50,95,-94,216,...,0,0,0,0,0,0,1971-72,1971,1979-80,12
40,40,Recreativo,5,188,186,50,46,90,-94,202,...,0,0,0,0,0,0,1978-79,1978,2008-09,8
43,43,Numancia,4,148,152,37,37,78,-98,155,...,0,0,0,0,0,0,1999-00,1999,2008-09,17
50,50,Alcoyano,4,76,108,30,16,62,-107,145,...,0,0,0,0,0,0,1945-46,1945,1950-51,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,25,Getafe,12,553,456,147,112,197,-113,520,...,0,0,0,0,1,1,2004-05,2004,2015-16,6
47,47,Gimnastic,4,91,116,34,16,66,-114,181,...,0,0,0,0,0,0,1947-48,1947,2006-07,7
37,37,Almeria,6,242,228,62,56,110,-122,244,...,0,0,0,0,0,0,2007-08,2007,2014-15,8
27,27,Tenerife,13,510,494,155,128,211,-125,619,...,0,0,0,2,0,2,1961-62,1961,2009-10,5
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,-136,2052,...,5,4,1,0,1,12,1941-42,1941,2014-15,1
38,38,Cordoba,9,230,282,82,63,137,-145,285,...,0,0,0,1,0,1,1962-63,1962,2014-15,5
31,31,Salamanca,12,375,423,123,102,198,-159,422,...,0,0,0,0,0,0,1974-75,1974,1998-99,7
9,9,Zaragoza,58,2109,1986,698,522,766,-164,2683,...,1,4,5,4,4,18,1939-40,1939,2012-13,2
29,29,Alaves,12,421,380,125,81,174,-165,458,...,0,0,0,0,1,1,1930-31,1930,2016-17,6
35,35,Castellon,11,285,334,103,79,152,-169,419,...,0,0,1,2,0,3,1941-42,1941,1990-91,4
19,19,Mallorca,27,1148,988,333,256,399,-189,1182,...,0,2,0,2,1,5,1960-61,1960,2012-13,3
34,34,Logrones,9,293,346,96,92,158,-198,291,...,0,0,0,0,0,0,1987-88,1987,1996-97,7
30,30,Levante,11,416,402,113,95,194,-202,430,...,0,0,0,0,1,1,1963-64,1963,2015-16,6
32,32,Sabadell,14,353,426,129,95,202,-228,492,...,0,0,1,1,0,2,1943-44,1943,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,-269,393,...,0,0,0,0,0,0,1977-78,1977,2005-06,12
24,24,Elche,21,606,678,203,180,295,-272,750,...,0,0,0,1,1,2,1959-60,1959,2014-15,5
7,7,Espanyol,82,2792,2626,948,608,1070,-280,3609,...,0,4,5,2,5,16,1929,1929,1994-95,3
18,18,Oviedo,38,1174,1192,408,292,492,-309,1642,...,0,3,2,2,4,11,1933-34,1933,2000-01,3
23,23,Rayo Vallecano,17,662,652,189,148,305,-328,760,...,0,0,0,0,0,0,1977-78,1977,2015-16,8
10,10,Real Betis,51,1884,1728,606,440,682,-333,2159,...,0,2,3,4,4,14,1932-33,1932,2015-16,1
26,26,Hercules,20,538,628,184,149,295,-334,716,...,0,0,0,1,4,5,1935-36,1935,2010-11,5
16,16,Osasuna,37,1351,1318,426,327,565,-334,1500,...,0,0,2,2,2,6,1935-36,1935,2016-17,4
22,22,Granada,23,667,742,218,175,349,-338,819,...,0,0,0,0,2,2,1941-42,1941,2016-17,6
17,17,Malaga,36,1314,1255,390,330,535,-342,1421,...,0,0,1,0,1,2,1949-50,1949,2008-09,4
12,12,Celta Vigo,51,1789,1698,586,389,723,-346,2278,...,0,0,2,4,5,11,1939-40,1939,2012-13,4
28,28,Murcia,18,445,586,145,143,298,-385,607,...,0,0,0,0,0,0,1940-41,1940,2007-08,11
20,20,Las Palmas,33,1020,1096,367,242,487,-399,1347,...,1,1,1,1,1,5,1951-52,1951,2015-16,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,-399,1753,...,1,1,2,2,1,7,1944-45,1944,2015-16,2
13,13,Valladolid,42,1471,1466,463,384,619,-413,1767,...,0,0,1,1,1,3,1948-49,1948,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,-525,1843,...,1,1,2,0,1,5,1929,1929,2011-12,2

 Q5) First_Top_Five_Winning_Percent_Football_Team_are  :
 0 Pos             Team Seasons  Points  Winning Percent  GamesPlayed  \
1   1      Real Madrid      86    4385        59.630702         2762
2   2        Barcelona      86    4262        57.241130         2762
3   3  Atletico Madrid      80    3442        47.475134         2614
4   4         Valencia      82    3386        44.557057         2664
5   5  Athletic Bilbao      86    3368        43.772629         2762

0  GamesWon GamesDrawn GamesLost  Goal_diff_count  ...  Runner-up  Third  \
1      1647        552       563             2807  ...         23      8
2      1581        573       608             2786  ...         25     12
3      1241        598       775             1225  ...          8     16
4      1187        616       861              929  ...          6     10
5      1209        633       920              931  ...          7     10

0 Fourth Fifth Sixth   T    Debut  \
1      8     3     4  79     1929
2     12     4     6  83     1929
3      9     7     6  56     1929
4     11    10     7  50  1931-32
5      5     8    10  49     1929

0 Football_Team_which_have_started_playing_between_1930_to_1980 Since/LastApp  \
1                                               1929                     1929
2                                               1929                     1929
3                                               1929                  2002-03
4                                               1931                  1987-88
5                                               1929                     1929

0 BestPosition
1            1
2            1
3            1
4            1
5            1

[5 rows x 23 columns]

,Pos,Team,Seasons,Points,Winning Percent,GamesPlayed,GamesWon,GamesDrawn,GamesLost,Goal_diff_count,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Football_Team_which_have_started_playing_between_1930_to_1980,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,59.630702,2762,1647,552,563,2807,...,23,8,8,3,4,79,1929,1929,1929,1
2,2,Barcelona,86,4262,57.241130,2762,1581,573,608,2786,...,25,12,12,4,6,83,1929,1929,1929,1
3,3,Atletico Madrid,80,3442,47.475134,2614,1241,598,775,1225,...,8,16,9,7,6,56,1929,1929,2002-03,1
4,4,Valencia,82,3386,44.557057,2664,1187,616,861,929,...,6,10,11,10,7,50,1931-32,1931,1987-88,1
5,5,Athletic Bilbao,86,3368,43.772629,2762,1209,633,920,931,...,7,10,5,8,10,49,1929,1929,1929,1

 Q6) Group teams based on their Best position & Sum of Points are :
 0             Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34

0             Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34